<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/layout.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">logo</a>
        </div>

        <ul class="menu">
            <li>
                <a href="#">menu1</a>
                <ul>
                    <li><a href="#">sub-menu1-1</a></li>
                    <li><a href="#">sub-menu1-2</a></li>
                    <li><a href="#">sub-menu1-3</a></li>
                    <li><a href="#">sub-menu1-4</a></li>
                </ul>
            </li>
            <li>
                <a href="#">menu2</a>
                <ul>
                    <li><a href="#">sub-menu1-1</a></li>
                    <li><a href="#">sub-menu2-2</a></li>
                    <li><a href="#">sub-menu2-3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">menu3</a>
                <ul>
                    <li><a href="#">sub-menu3-1</a></li>
                    <li><a href="#">sub-menu3-2</a></li>
                </ul>
                
            </li>
            <li>
                <a href="#">menu4</a>
                <ul>
                    <li><a href="#">sub-menu4-1</a></li>
                    <li><a href="#">sub-menu4-2</a></li>
                    <li><a href="#">sub-menu4-3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">menu5</a>
                <ul>
                    <li><a href="#">sub-menu5-1</a></li>
                </ul>
            </li>
        </ul>
    </header>
</body>
</html>