* {
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: navy;
}

.logo {
    width: 200px;
    height: 40px;
    margin: auto 0;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menus {
    width: 800px;
    height: 100%;
    z-index: 10000000;
    text-align: center;
}

.menu {
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 50px;
}

.menu > li {
    width: 25%;
    height: 100%;
    background-color: lightskyblue;
}

.menu > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}

.menu > li > a:hover {
    color: white;
    background-color: rgb(30, 175, 255);
}

.sub_menu {
    display: flex;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
}

.sub_menu ul {
    width: 25%;
    height: 100%;
}

.sub_menu ul li {
    width: 100%;
    height: 25%;
}

.sub_menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    background-color: lightgreen;
    transition: .5s;
}

.sub_menu a:hover {
    background-color: rgb(79, 255, 79);
    color: white;
}

.menu:hover ~ .sub_menu {
    max-height: 140px;
}

.sub_menu:hover {
    max-height: 140px;
}

@keyframes slide {
    0% {
        top: 0;
    }
    27% {
        top: 0;
    }
    33% {
        top: -300px;
    }
    61% {
        top: -300px;
    }
    66% {
        top: -600px;
    }
    95% {
        top: -600px;
    }
    100% {
        top: 0;
    }
}

.slide {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide div {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 900px;
    animation: slide 9s infinite;
}

.slide a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
}

.slide a img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slide h1 {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.contents {
    display: flex;
    width: 100%;
    height: 200px;
}

.tab_area {
    width: 400px;
    height: 100%;
}

.tab_area input {
    display: none;
}

.tab_area label {
    display: inline-block;
    width: 75px;
    height: 20%;
    line-height: 40px;
    text-align: center;
    background-color: cornflowerblue;
    cursor: pointer;
}

.conts {
    width: 100%;
    height: 80%;
}

.content {
    display: none;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

#notice ul {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#notice li {
    display: inline-block;
    justify-content: space-between;
    width: 95%;
    height: 24%;
    margin: 0 10px;
}

#notice a {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    line-height: 40px;
    border-bottom: 1px solid black;
}

#gallery {
    justify-content: space-around;
    align-items: center;
}

#gallery a {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#tab1:checked ~ .conts #notice {
    display: block;
}

#tab2:checked ~ .conts #gallery {
    display: flex;
}

.banner {
    width: 400px;
    height: 100%;
}

.quick {
    width: 400px;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

footer .logo {
    filter: grayscale(1);
}

.copy {
    width: 600px;
    height: 100%;
    text-align: center;
    line-height: 100px;
}

.sns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100%;
}

.sns a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

.sns img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.sns a:nth-child(1) {
    background-color: greenyellow;
}

.sns a:nth-child(2) {
    background-color: deepskyblue;
}

.sns a:nth-child(3) {
    background-color: crimson;
}