@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#container {
    display: flex;
    width: 1000px;
    height: 650px;
}

header {
    width: 250px;
    height: 100%;
    background-color: darkslateblue;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
}

.logo img {
    width: 200px;
    height: 40px;
}

#menu {
    width: 100%;
}

#menu a {
    display: inline-block;
    text-align: center;
    transition: .5s;
}

#menu > li {
    display: flex;
    width: 500px;
    height: 50px;
}

#menu > li > a {
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: white;
}

#menu > li > a:hover {
    background-color: mediumslateblue;
    color: lightblue;
}

#menu ul {
    max-width: 0px;
    height: 105px;
    overflow: hidden;
    background-color: lightslategray;
    transition: .5s;
    z-index: 1000;
}

#menu li:nth-child(3) ul {
    height: 140px;
}

#menu ul a {
    width: 250px;
    height: 35px;
    line-height: 35px;
    color: white;
}

#menu ul a:hover {
    background-color: lavender;
    color: #333;
}

#menu > li > a:hover ~ ul {
    max-width: 250px;
}

#menu ul:hover {
    max-width: 250px;
}

#wrapper {
    width: 750px;
    height: 100%;
}

@keyframes slide {
    0% {
        left: 0;
    }
    23% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    56% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    90% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}

#slide {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#s-wrapper {
    position: absolute;
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 7.5s infinite;
}

#slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contents {
    display: flex;
    width: 100%;
    height: 200px;
}

.content {
    width: 250px;
    height: 100%;
}

.content > p {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: mediumslateblue;
    color: white;
}

.cont-list {
    width: 100%;
    height: 160px;
}

#no-list a {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid black;
    font-size: 14px;
}

#gall-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#direct {
    position: relative;
}

#direct > a > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}

#direct img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pop {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1000000;
}

#pop-wrapper {
    width: 600px;
    height: 300px;
    background-color: #fff;
    padding: 15px;
}

#pop hr {
    margin: 10px 0;
}

#pop button {
    width: 100px;
    height: 30px;
    margin-top: 125px;
    margin-left: 450px;
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: slateblue;
}

footer .logo img {
    filter: grayscale(1);
}

#copy {
    width: 250px;
    height: 100%;
    line-height: 100px;
}

#copy p {
    font-size: 10px;
    color: white;
}

#family {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
}

#family select {
    width: 200px;
    height: 45%;
    padding: 15px;
    border-radius: 25px;
    outline: none;
}